<footer class="bg-dark text-light text-center py-4 mt-5">
  <div class="container">
    <p class="mb-1">&copy; 2024 Gestion Emploi du Temps</p>
    <p class="mb-1">Créé par <strong>Yassine GHARBI</strong></p>
    <div>
      <a href="www.linkedin.com/in/yassine-gharbi-930426330" target="_blank" class="text-light mx-2">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <a href="https://github.com/yassigh" target="_blank" class="text-light mx-2">
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a href="mailto:yassine@example.com" class="text-light mx-2">
        <i class="fas fa-envelope fa-lg"></i>
      </a>
    </div>
  </div>
</footer>
