<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="Logo" style="height: 70px;">
    </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item nav-item-bg">
            <a class="nav-link" [routerLink]="['/']">
                <i class="fas fa-home"></i> Accueil
            </a>
        </li>
      
        <li class="nav-item nav-item-bg">
            <a class="nav-link" [routerLink]="['/emplois']">
                <i class="fas fa-list"></i> Liste des Emplois
            </a>
        </li>
    </ul>
</div>
</nav>

<h1>Liste des Emplois du Temps 2024/2025</h1>
<a [routerLink]="['/emploi-new']" class="btn btn-danger float-right">Créer un Nouvel Emploi</a>

<hr>
<br><br>

<!-- Formulaire de filtrage -->
<form (ngSubmit)="applyFilters()" class="filter-form">
  <div class="d-flex justify-content-between">
    <div class="flex-fill">
      <label for="titre">Titre:</label>
      <input type="text" [(ngModel)]="filters.titre" name="titre" id="titre" class="form-control">
    </div>

    <div class="flex-fill">
      <label for="enseignant">Nom de l'enseignant:</label>
      <input type="text" [(ngModel)]="filters.nomEnseignant" name="nomEnseignant" id="enseignant" class="form-control">
    </div>
   
    <div class="flex-fill">
      <label for="salle">Salle:</label>
      <input type="text" [(ngModel)]="filters.salle" name="salle" id="salle" class="form-control">
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary mt-2">Appliquer les filtres</button>
</form>
<br><br>


<div *ngFor="let classe of classes" > <h2>{{ classe.nom }}</h2>


<div *ngFor="let emploiGroup of emploisGroupedByJour">
  <h2>{{ emploiGroup.jour }}</h2> 
  <table class="table">
    <thead>
      <tr>
        
        <th>Titre</th>
        <th>Nom de l'enseignant</th>
        <th>Début</th>
        <th>Fin</th>
        <th>Salle</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emploi of emploiGroup.emplois">
<!-- Vérifier si emploi.classe est un objet de type Classe -->


        <td>{{ emploi.titre || 'Non spécifié' }}</td>
        <td>{{ emploi.nomEnseignant || 'Non spécifié' }}</td>
        <td>{{ emploi.startTime | date: 'shortTime' }}</td>
        <td>{{ emploi.endTime | date: 'shortTime' }}</td>
        <td>{{ emploi.salle || 'Non spécifiée' }}</td>
    
      </tr>
    </tbody>
  </table>
</div>


